<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeometryFriends.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GeometryFriends.Properties.Settings>
            <setting name="logfile" serializeAs="String">
                <value>geofriends</value>
            </setting>
            <setting name="nextlogfile" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="writeLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="levelsfile" serializeAs="String">
                <value>teste.xml</value>
            </setting>
            <setting name="CircleHumanControl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="logDir" serializeAs="String">
                <value />
            </setting>
            <setting name="SquareHumanControl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="musicOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="controls" serializeAs="String">
                <value>True</value>
            </setting>
        </GeometryFriends.Properties.Settings>
    </userSettings>
</configuration>